{% extends 'base.html' %}

{% block title %}
{{ news.id }}
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-header"> Категория: <a href="{{ news.category.get_absolute_url }}">{{news.category}}</a></div>
    <div class="card-body">
        <div class="media">
            {% if news.photo %}
            <img src="{{ news.photo.url }}" align="left" id="photo" alt="" width="350" height="235" line>
            {% else %}
            <img src="/media/photos/2022/02/04/footer2_eMBPJwg.jpg" align="left" id="photo_default" alt="" width="350" height="235" line>
            {% endif %}
            <div class="media-body">
                <h5 class="card-title" align="center">{{ news.title }}</h5>
                <p class="card-text">{{ news.content|safe|linebreaks }}</p>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        {{news.created_at|timesince }} ago
    </div>
</div>
{% endblock %}

