#header,
.module h2, .module caption, .inline-group h2{
    background: #696969
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #fff;
}

div.breadcrumbs{
    background: #2F4F4F
}

.module, .form{
    background: #FFFAFA
}

.button.default, input[type=submit].default, .submit-row input.default{
    background: #1E90FF
}
