body{
    background-color: #151515;
}

#news_add{
    color: WHITE;
}

.bg-light{
    background-color: #e0e0e0 !important;
}

.list-group-item{
    background-color: #e0e0e0;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.9);
}

.navbar-light .navbar-text a, .navbar-light .navbar-text a:focus, .navbar-light .navbar-text a:hover{
    text-decoration: none;
}