BACKGROUND_BODY_DARK = #151515;
BACKGROUND_BODY_LIGHT = #E8E8E8;
BACKGROUND_BODY_LIGHT2 = #f4f4f4;

body{
    background-color: #f4f4f4;
}

#news_add{
    color: BLACK;
}

.bg-light{
    background-color: rgba(224, 224, 224, 0.95) !important;
}

.list-group-item{
    background-color: #e0e0e0;
}

#registration_form{
    color: BLACK;
}

ul.errorlist{
    color:  #FF0000;
}

a#greeting{
    color: #838383;
}

em#username{
    color: BLACK;
}

img#photo{
    margin: 50px 10px 5px 0px;
}

.list-group-item.active{
    background: #64625F;
    border-color: #151515;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.9);
}

.navbar-light .navbar-text a, .navbar-light .navbar-text a:focus, .navbar-light .navbar-text a:hover{
    text-decoration: none;
}

/* Фиксированный навбар*/
.navbar {
    background: #e0e0e0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:200;
}

/* Фиксированные ссылки внутри навбара*/
.navbar a {
    text-align: center;
    text-decoration: none;
}

/* Положение страницы под навбаром*/
.row{
    margin-top: 70px;
}

/* Фиксированный сайдбар*/
#sidebar{
    position: fixed;
    width: 17%;
}
